<div class="navbar navbar-inverse">
  <div class="container">
    <a href="#" class="navbar-brand">Actividad 28</a>
    <ul class="nav navbar-nav navbar-right">
      <li><%= link_to "Home", companies_path %></li>
      <li><%= link_to "Nueva Empresa", new_company_path %></li>
      <li><%= link_to "Nueva Area", new_area_path %></li>
    </ul>
  </div>
</div>
